.rodape {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem 2rem;
    background: rgba(240, 55, 141, 0.9);
}
.float {
    position:fixed;
	width:6%;
	height:50px;
	bottom:40px;
	right:30px;
	background-color:#05fc5f;
	color:#FFF;
	border-radius:90px;
	text-align:center;
    font-size:30px;
    z-index:100;
}

.icones {
    margin-left: -1rem;
}

.esquerda p {
    margin-left: -2rem;
}

.esquerda .recife {
    margin-left: -1rem;
}

.rodape-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.rodape .esquerda {
    height: 100%;
    max-width: 100%;
    display: flex;   
    flex-direction: column;
    padding: 0.5rem;
}

.rodape .direita {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3.5rem;
    margin: auto;
}
.rodape h4 {
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    padding: 1rem 0;

}

.rodape p {
    font-size: 1.2rem;
    padding: 1rem;
    color: #fff;
    
}

.rodape .localizacao {
    display: flex;
    align-items: center;
}


.rodape .localizacao p {
    padding-bottom: .5rem;
}

.rodape .localizacao h4 {
    padding-top: 0;
}
.direita p {
    color: #fff;
}

@media screen and (max-width:640px) {
    .rodape-container {
        grid-template-columns: 1fr;
        margin: 1.5rem;
    }
    .direita .social {
        margin: auto;
    }
    .direita .companhia {
        margin-left: -1.5rem;
    }
    .direita p {
        font-size: 1.2rem;
        margin-left: -5rem;
        align-items: center;
        width: 300px;
        height: 100%;
        text-align: center;
    }
    .rodape-container .float {
        width: 12%;
    }
    .rodape-container .esquerda {
        padding: 2rem auto;
    }
}

@media screen and (min-width: 940px ) {
    .rodape-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 2.5rem;
    }
}